@import "fontface.scss";
@import "mixins.scss";

$btnBase: #3e9fb2;
$bidTXT: #fff;
$bidStroke: #3d7d89;

body,
.window,
.window2,
.window3,
.window4,
.item-name,
img,
.retail-p,
.timer,
.price,
.username,
.bid-button {
	position: relative;
}
body {
	font-family: Calibri, Helvetica, sans-serif;
}
.window,
.window2,
.window3,
.window4 {
	display: inline-block;
	text-align: center;
	top: 50px;
	left: 100px;
	background: #fff;
	margin: 8px;
	height: 280px;
	width: 180px;
	color: #333;
	border: 1px solid #d1d1d1;
	@include box-shadow((inset 0px -2px 6px 0px rgba(0,0,0, .08)));
}
.retail-p,
.username {
	font-size: .75em;
}
.item-name {
	color: #444;
	height: 30px;
	margin: 9px auto 0 auto;
	font-weight: normal;
	line-height:  0.95em;
	font-size: .9em;
}
img {
	display: inline-block;
	margin: 2px auto 0 auto;
}
.retail-p {
	color: #a3a3a3;
	top: -3px;
}
.timer {
	line-height: 1.4;
	font-size: 1.3em;
	height: 28px;
	@include background1;
	@include box-shadow((0px 1px 0px 0px rgba(0,0,0, .1)));
	@include border-top;
}
.price {
	top: 6px;
	color: #333;
	font-size: 1.8em;
	font-weight: bold;
}
.username {
	color: #385d66;
}
.bid-button {
	top: -1px;
	height: 30px;
	width: 58px;
	margin: 12px auto;
	color: $bidTXT;
	font-size: 1.1em;
	line-height: 1.5em;
	letter-spacing: .08em;
	text-shadow:-1px -1px 0px $bidStroke,
				 1px -1px 0px $bidStroke,
				-1px 1px 0px $bidStroke,
				 1px 1px 0px $bidStroke,
				 0px 2px 0px ($bidStroke/1.1);
	background: $btnBase;
	border: 1px solid $bidStroke;
	@include prefix(border-radius, 3px);
	@include box-shadow((inset -.5px 1px 0px 0px rgba(255,255,255, .35),
						 inset	0px 15px 10px -10px rgba(255,255,255, .1),
						 inset	0px -12px 10px -8px rgba(0,0,0, .25),
								0px 1px 0px 0px ($bidStroke/2.5)));
	&:hover,
	&:focus {
		border: 1px solid ($bidStroke/1.15);
	}
	&:hover {
		text-shadow:-1px -1px 0px $bidStroke*1.2,
					 1px -1px 0px $bidStroke*1.2,
					-1px 1px 0px $bidStroke/1.05,
					 1px 1px 0px $bidStroke/1.05;
		@include box-shadow((inset -.5px 1.5px 0px 0px rgba(255,255,255, .4),
						 inset	0px 15px 10px -10px rgba(255,255,255, .25),
						 inset	0px -12px 10px -8px rgba(0,0,0, .25),
						 inset .5px -1px 0px 0px rgba(0,0,0, .18),
								0px 1px 0px 0px ($bidStroke/2.5)));
	}
	&:active {
		text-shadow:-1px -1px 0px $bidStroke*1.05,
					 1px -1px 0px $bidStroke*1.05,
					-1px 1px 0px $bidStroke*1.2,
					 1px 1px 0px $bidStroke*1.2;
		@include box-shadow((inset -.5px 1px 0px 0px rgba(255,255,255, .3),
						 inset	0px -15px 10px -10px rgba(255,255,255, .1),
						 inset	0px 12px 10px -8px rgba(0,0,0, .18),
						 inset .5px -1px 0px 0px rgba(255,255,255, .05),
								0px 1px 0px 0px ($bidStroke/2.5)));
	}
	cursor: pointer;
}